@model web.Models.Enrollment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentID" />
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarID" class="control-label"></label>
                <select asp-for="CarID" class="form-control" asp-items="ViewBag.CarID"></select>
                <span asp-validation-for="CarID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusID" class="control-label"></label>
                <select asp-for="BusID" class="form-control" asp-items="ViewBag.BusID"></select>
                <span asp-validation-for="BusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpotID" class="control-label"></label>
                <select asp-for="SpotID" class="form-control" asp-items="ViewBag.SpotID"></select>
                <span asp-validation-for="SpotID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <input asp-for="Arrival" class="form-control" />
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

